.react_tinylink_card {
  border: 1px solid #d7cece;
  border-radius: 0;
  margin: 15px auto;
}

form {
  background: white;
  padding: 5px 10px;
}

.posts {
  // TODO: Use vars
  @media (min-width: 768px) {
    width: 768px;
    margin: auto;
  }
}
